@import "tailwindcss";

@theme {
  --color-primary: #333;
  --color-primary-foreground: #a38d6d;
  /* --color-primary: #000; */
  /* --color-primary-foreground: #fff8e1; */

  --color-border: #886437;

  --color-secondary: #5a3806;
  --color-seconary-foreground: #e9cf9f;

  --animate-spin-slow: spin 20s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
